* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
  background-image: url(./media/image.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  margin: 5rem;
}
