* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
  background-image: url(./media/image.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15rem;
}

.input {
  width: 800px;
  height: 60px;
  border-radius: 50px;
  border: 3px solid #fda403;
  /* box-shadow: 5px 4px 3px 2px; */
  text-indent: 2rem;
  background-color: rgb(217, 217, 217, 0.5);
  color: #ffffff;
  font-size: 1.5rem;
}

.input:focus {
  outline: none;
}

.search-button {
  width: 250px;
  height: 60px;
  border-radius: 50px;
  background-color: #fda403;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
}
